@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Our Company Staff", "Index", "Employee") </li>
        <li>@Html.ActionLink("Current Customers","Index","Customer") </li>
    </ul>
</div>